.footer {
    &__btn {
        background-color: $base-white;
        color: $base-red;
        border: none;
        border-radius: 2px;
        transition: all .35s ease-out;

        &:hover {
            cursor: pointer;
            background-color: $base-yellow;
        }
    }

    &__input-text {
        width: 200px;
        box-sizing: border-box;
        padding: 6px 12px;
        background-color: $base-white;
        border: none;
        margin-right: 10px;
    }

    &--red {
        background-color: $base-red;
        padding: 20px 0px;

        @mixin atMedium {
            padding: 50px 0px;
        }

        & .row {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @mixin atMedium {
                flex-direction: row;
            }
        }

        & .row__4 {
            width: 100%;
            box-sizing: border-box;
            padding: 0 20px;
            margin-bottom: 20px;

            @mixin atMedium {
                width: 33.33%;
                margin-bottom: 0;
            }
        }
    }

    &--white {
        padding: 20px 0px;
        background-color: $base-white;
    }

    & .row__4 {
        text-align: center;
    }
}